/* src/css/ChatPage.css */

.chatpage-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .chat-section {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }
  
  .empty-chat {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .chat-section {
      flex-direction: column;
    }
  }
  